@model DrinqWeb.Models.UserQuestDetailViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Детали</title>
</head>
<body>
    <div>
        <h4>Квест</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.UserQuest.User)
            </dt>
            <dd>
                @Html.DisplayTextFor(model => model.UserQuest.User.UserName)
            </dd>

            <dt>
                Глава
            </dt>
            <dd>
                Z&M
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TotalAssignmentsCount)
            </dt>
            <dd>
                @Html.DisplayTextFor(model => model.TotalAssignmentsCount)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.FinishedAssignmentCount)
            </dt>
            <dd>
                @Html.DisplayTextFor(model => model.FinishedAssignmentCount)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CurrentAssignmentsTitle)
            </dt>
            <dd>
                @Html.DisplayTextFor(model => model.CurrentAssignmentsTitle)
            </dd>
        </dl>
    </div>
    <p>
        @*@Html.ActionLink("Изменить", "Edit", new { id = Model.Id }) |*@
        @Html.ActionLink("Назад к списку", "Index")
    </p>
</body>
</html>
