@model DrinqWeb.Models.Filter.UserQuestsListViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Список</title>
    <link rel="stylesheet" href="~/Content/jquery-ui.min.css" />
</head>
<body>
    @*<p>
            @Html.ActionLink("Create New", "Create")
        </p>*@
    <div class="container-fluid" style="margin-top: 10px; margin-left:10px;margin-right:10px;">
        <div class="row">
            <form method="get">
                <div class="form-inline">
                    <label class="control-label">Команда: </label>
                    @Html.DropDownList("userQuestStatus", Model.Status as SelectList,
                    htmlAttributes: new { @class = "form-control" })

                    @Html.TextBoxFor(model => model.StartDate, new { @class = "form-control" })
                    @Html.TextBoxFor(model => model.EndDate, new { @class = "form-control" })

                    <input type="submit" value="Фильтр" class="btn btn-default" />
                </div>
            </form>
        </div>
        @{
            var modelName = Model.UserQuests.FirstOrDefault();
        }
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <table class="table table-condensed table-bordered">
                        <thead>
                            <tr class="active">
                                <th>
                                    @Html.DisplayNameFor(model => model.UserQuests.FirstOrDefault().Quest.Title)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.UserQuests.FirstOrDefault().StartDate)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.UserQuests.FirstOrDefault().User)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.UserQuests.FirstOrDefault().Status)
                                </th>
                                <th>
                                    Действия
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.UserQuests)
            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Quest.Title)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.StartDate)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.User.UserName)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Status)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Детали", "Details", new { id = item.Id })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


    <script src="~/Scripts/jquery.js"></script>
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <script>

        $("#StartDate").datepicker();
        $("#EndDate").datepicker();
    </script>


</body>
</html>
