@model DrinqWeb.Models.CodeFirstModels.VerificationItem

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Детали</title>
</head>
<body>
    <div>
        <h4>Элемент для подтверждения</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.IncomingDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.IncomingDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.VerifiedDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.VerifiedDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.VerifiedById)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.VerifiedById)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Status)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Status)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Message)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Message)
            </dd>

            <dd>
                @Html.EditorFor(model => Model.Message)
                @Html.EditorFor(model => model.Message)
            </dd>

        </dl>
    </div>
    <p>
        @Html.ActionLink("Назад к списку", "Index")
    </p>
</body>
</html>
